<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cqut.icode.system.mapper.UserMapper">

    <!-- 改变课程的置顶状态 -->
    <update id="changeCourseTopStatus">
        update ktp_user_course uc
        set top = !uc.top
        where uc.user_id = #{userId}
          and uc.course_id = #{courseId}
    </update>

    <!-- 改变课程的归档状态 -->
    <update id="changeCoursePigeonholeStatus">
        update ktp_user_course uc
        set pigeonhole = !uc.pigeonhole
        where uc.user_id = #{userId}
          and uc.course_id = #{courseId}
    </update>

    <!-- 改变课程间的优先级状态 -->
    <update id="changeCoursePriority">
        update ktp_user_course uc
        set priority = #{priority}
        where uc.user_id = #{userId}
          and uc.course_id = #{courseId}
    </update>

    <!-- 找到用户的所有课程的id的集合 -->
    <select id="findCourseIdsByUserId" resultType="Long">
        select ur.course_id courseId
        from ktp_user u
                 left join ktp_user_course_homework ur on (u.id = ur.user_id)
        where u.id = #{userId}
    </select>

    <!-- 找到用户所有的#置顶#、未归档课程信息 -->
    <select id="findTopCoursesByUserId" resultType="java.util.HashMap">
        select c.id,
               c.coursename,
               c.code,
               c.classname,
               c.semester_year semesterYear,
               c.semester,
               c.bg_image_url  bgImageUrl,
               uc.pigeonhole,
               uc.role
        from ktp_user u
                 left join ktp_user_course uc on (u.id = uc.user_id)
                 left join ktp_course c on (c.id = uc.course_id)
        where u.id = #{userId}
          and uc.top is true
          and uc.pigeonhole is false
        order by uc.priority
    </select>

    <!-- 找到用户所有的#非置顶#、未归档课程信息 -->
    <select id="findNonTopCoursesByUserId" resultType="java.util.HashMap">
        select c.id,
               c.coursename,
               c.code,
               c.classname,
               c.semester_year semesterYear,
               c.semester,
               c.bg_image_url  bgImageUrl,
               uc.pigeonhole,
               uc.role
        from ktp_user u
                 left join ktp_user_course uc on (u.id = uc.user_id)
                 left join ktp_course c on (c.id = uc.course_id)
        where u.id = #{userId}
          and uc.top is false
          and uc.pigeonhole is false
        order by uc.priority
    </select>

    <!-- 找到用户所有的归档课程 -->
    <select id="findCourseOfPigeonholeByUserId" resultType="java.util.HashMap">
        select c.id,
               c.coursename,
               c.classname,
               c.semester_year semesterYear,
               c.semester,
               c.bg_image_url  bgImageUrl,
               uc.role
        from ktp_user u
                 left join ktp_user_course uc on (u.id = uc.user_id)
                 left join ktp_course c on (c.id = uc.course_id)
        where u.id = #{userId}
          and uc.pigeonhole is true
        order by uc.priority
    </select>


</mapper>
